html {
  width: 100%;
  height: 100%;
  font-family: 'Press Start 2P', cursive;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #ffffff;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background: #639a3d;
}
.ground {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.screen {
  display: flex;
  position: relative;
  width: 300px;
  height: 500px;
  background: #639a3d;
  border: 5px solid black;
}

.game-list {
  flex-grow: 1;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}
.game-item {
  color: black;
  padding: 5px;
}
.game-item.selected {
  color: #639a3d;
  background: black;
}